@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

body{
    font-family: "Roboto Mono";
    margin:0;
}

#principal h1 {
    margin:0;
    padding-top:5%;
    text-align: center;
}
#sobre h1 {
    margin:0;
    padding-top:5%;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

#conteiner{
    width: 100%;
    margin: 0 auto;
}

#navbar{
    height: 5em;
    line-height: 5em;
    min-height: 50px;
    background-color: black;
    color:white;
 
}
#navbar img{
    margin: 1%;
    float: left;
    width: 50px;
    height: 50px;
}


#navbar a{
    float: left;
    margin-left: 3%;
}


#principal {
    color:white;   
    height: 80%;    
    opacity: 0.9;
    margin: 0;
    padding:0;
    padding-top: 20%;
    text-align:center;
    background-image: url('../imagens/coffe2.jpeg');    
    background-size: 100%;
}

#Sobre {
    background-color: #E9DCCD;
    padding-bottom: 5%;
    color:#613A43
}

#Sobre p{
    padding: 0 10%;
    
}

#conheca-mais {
    background-color: #613A43 ;
    padding-bottom: 25%;
    padding-top:10%;
    color: #E9DCCD;
}

#texto-mais{
    text-align: left;
    position:absolute;
    top: 1630px;
    left: 68%;
}
#texto-mais p{
    margin-bottom: 10%;
}
#texto-mais a{
    background-color:#E9DCCD;
    color:black;
    padding: 20px 10px;;
}

#linha1 img{
    padding-right: 10%;

}

#foto-produtos{
    width: 80%;
    height: 50%;
    margin: 0 auto;
}


#foto-produtos div{ 
    text-align:center;
    float: left;
    margin: 1.5%;
    width: 30%;
    
}

#foto-produtos img{
    width:100%;
}

#aviso{
    background-color:crimson;
    color: white;
}

footer{
    text-align:center;
}


/*para o contato*/

#contatos{
    background-color:darkcyan;
    color:black;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    /*padding-left: 20%;*/
}

#contatos div{
    float:left;
    margin: 5%;
    margin-left: 10%;
}

#contatos img{
    float:left;
    border-radius: 50%;
    margin: 40 auto;
    margin-left: 5%;

    height: 60%;
    width:10%;
}
#contatos p{
    text-align: center;
    padding-top: 5%;
}

#semi-titulo{
    background-color:darkgoldenrod;
    text-align: center;
    height: 10em;
    line-height: 2.5em;
    min-height: 50px;
}


